<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-muted">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Simulacion en proceso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Espere un momento, por favor.
          <img src="{{url_for('static', filename='img/loading-icon-animated-gif-9.gif')}}" alt="">
        </div>
        <div class="modal-footer">
          <button hidden class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
  <a  hidden class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
  