<!-- <hr class=" my-5"> -->
<div class="container">
  <div id="bblog" class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
    <div class="row" data-masonry='{"percentPosition": true }'">
      <h1 class=" display-4 font-italic">Auditoria Energetica</h1>
      <p>Por un futuro sin tanto CO2</p>
      <div>

      </div>
    </div>
  </div>
</div>

<!-- https://iydbeoo0t0.execute-api.eu-west-1.amazonaws.com/dev/fv_industrial -->

<div class="container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    {% for _, item in data.auditorias.items() %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-light">
        <img class="rounded" src='{{ item.img }}' class="img-fluid img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.text }}.</p>
          <a href="https://iydbeoo0t0.execute-api.eu-west-1.amazonaws.com/dev/{{ item.href}}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>