<!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark"> -->
<!-- http://bootstrapessentials.com/fulldocs/components/ -->


<style>
  .dropdown-hover-all .dropdown-menu, .dropdown-hover > .dropdown-menu.dropend { margin-left:-1px !important }
</style>


<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top " style="background-color: #b3f31f;">
  <div class="container">
    <a class="navbar-brand" href="#">1kwm2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!-- <li class="nav-item dropup"> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Asesoria</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            {% for _, item in data.autoconsumos.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.id }}').click()">Autoconsumo.- {{
                item.title }}</a></li>
            {% endfor %}
            {% for _, item in data.auditorias.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.id }}').click()">Energetico.-{{
                item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Proyectos</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            {% for _, item in data.proyectos.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.id }}').click()">{{
                item.title }}</a></li>
            {% endfor %}
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Estudios tecnicos</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            {% for _, item in data.estudiotecnicos.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.title }}').click()">{{
                item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Subvenciones</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            {% for _, item in data.PREEs.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.id }}').click()">PREE.-{{
                item.text }}</a></li>
            {% endfor %}
            {% for _, item in data.FEDERs.items() %}
            <li><a class="dropdown-item" href="#" onclick="document.getElementById('boton_{{ item.id }}').click()">FEDER.-{{
                item.text }}</a></li>
            {% endfor %}
          </ul>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
            aria-expanded="false">Ayuda</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><a role="button" class="dropdown-item" href="https://1kwm2.com/documentacion/">Ayuda</a>
            </li>
            <li><a class="dropdown-item" href="https://4ch7re1re3.execute-api.eu-west-1.amazonaws.com/dev">Contacto</a>
            </li>
            <li><a role="button" class="dropdown-item" href="#"
                onclick="document.getElementById('boton_menuA').click()">Blog</a>
            </li>
            <li><a onclick="document.getElementById('bookmarks').click()" role="button" class="dropdown-item"
                href="#bblog">bookmarks</a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zona Privada</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

