<style type="text/css">
    ul.postit,
    li.postit {
        list-style: none
    }

    ul.postit {
        overflow: hidden;
        padding: 3em
    }

    ul.postit li a {
        z-index: 4;
        text-decoration: none;
        color: #000;
        background: #ffc;
        display: block;
        height: 10em;
        width: 10em;
        padding: 1em;
        -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
        -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        -moz-transition: -moz-transform .15s linear;
        -o-transition: -o-transform .15s linear;
        -webkit-transition: -webkit-transform .15s linear
    }

    ul.postit li {
        margin: 1em
    }

    ul.postit li h2 {
        font-size: 120%;
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 1px
    }

    ul.postit li p {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 180%;
        padding-left: 0
    }

    ul.postit ul li a {
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg)
    }

    ul.postit li:nth-child(1) a {
        -o-transform: rotate(14deg);
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(14deg);
        position: absolute;
        top: 5em;
        right: 15em;
        background: #ffc
    }

    ul.postit li:nth-child(2) a {
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        position: absolute;
        top: 5em;
        right: 20em;
        background: #cfc
    }

    ul.postit li:nth-child(3) a {
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        position: absolute;
        top: 10em;
        right: 30em;
        background: #ccf
    }

    ul.postit li a:hover,
    ul.postit li a:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        z-index: 5
    }
</style>

<div class="container">
    <ul class="postit">
        <li class="postit">
            <a href="/es/datainput.aspx">
                <p style="font-family:Cursive;">arena pal gato</p>
            </a>
        </li>
        <li class="postit">
            <a href="#" onclick="document.getElementById('boton_fv_residencial').click()">
                <center>
                    <p style="font-family:Cursive;">pedir prspuesto FV</p>
                </center>
            </a>
        </li>
    </ul>
</div>