<style type="text/css">
    ul.postit,
    li.postit {
        list-style: none
    }

    ul.postit {
        overflow: hidden;
        padding: 3em
    }

    ul.postit li a {
        z-index: 4;
        text-decoration: none;
        color: #000;
        background: #ffc;
        display: block;
        height: 9em;
        width: 9em;
        padding: 1em;
        -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
        -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        -moz-transition: -moz-transform .15s linear;
        -o-transition: -o-transform .15s linear;
        -webkit-transition: -webkit-transform .15s linear
    }

    ul.postit li {
        margin: 1em
    }

    ul.postit li h2 {
        font-size: 100%;
        font-weight: bold;
        padding-bottom: 0;
        padding-top: 1px
    }

    ul.postit li p {
        font-family: "Cursive", arial, sans-serif;
        font-size: 130%;
        padding-left: 0
    }

    ul.postit ul li a {
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg)
    }

    ul.postit li:nth-child(1) a {
        -o-transform: rotate(1deg);
        -webkit-transform: rotate(14deg);
        -moz-transform: rotate(1deg);
        position: absolute;
        top: 20em;
        right: 8em;
        background: rgb(75, 252, 59)
    }

    ul.postit li:nth-child(2) a {
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        position: absolute;
        top: 20em;
        right: 17em;
        background: rgb(248, 27, 248)
    }

    ul.postit li:nth-child(3) a {
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        position: absolute;
        top: 10em;
        right: 30em;
        background: #ccf
    }

    ul.postit li a:hover,
    ul.postit li a:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        z-index: 5
    }
</style>
<!-- style="background-image: ;filter: brightness(100%); width: 100% !important; height: 45vh;"  -->
<div class="container">
    <ul class="postit" >
        <li class="postit" >

            <a href="#"  onclick="document.getElementById('boton_recarga').click()">
                <!-- <img src="{{ url_for('static', filename='img/moves III color verde fondo blanco RGB.png') }}"> -->
                <p> 70% Dto  MOVESIII Recarga  coches !! </p>
                <!-- 'moves III color verde fondo blanco RGB.png' -->
            </a>
            
        </li>
        <li class="postit">
            <a href="#" onclick="document.getElementById('boton_fv_residencial').click()">
                <center>
                    <p>Autoconsumo Estudio de Viabilidad</p>
                </center>
            </a>
        </li>
    </ul>
</div>