{% for _, item in data.estudiotecnicos.items() %}

<!-- Button trigger modal -->
<button hidden id="boton_{{ item.title }}" data-bs-target="#{{ item.title }}" type="button" class="btn btn-primary" data-bs-toggle="modal">
    Launch demo modal
</button>

<!-- Modal -->
<div id="{{ item.title }}" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">volver</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://r2uoahox2j.execute-api.eu-west-1.amazonaws.com/dev"
                    frameborder="0" allowfullscreen style="width:100%;height:100%;"></iframe>
            </div>
            <div class="modal-footer">
                <button hidden type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
