{% for _, item in data.estudiotecnicos.items() %}

<!-- Button trigger modal -->
<button hidden id="boton_estudiotecnico_{{ item.id }}" data-bs-target="#{{ item.id }}" type="button"
    class="btn btn-primary" data-bs-toggle="modal">
    Launch demo modal
</button>

<!-- Modal -->
<div id="{{ item.id }}" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle22" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Nueva simulacion</button>
                <!-- <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" type="button"
                    onclick="location.href='{{estudiotecnico}}{{ item.id }}'"
                    class="btn btn-success">simulacion</button> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-image "
            style="background-image: url('{{url_for('static', filename='img/loading-icon-animated-gif-9.gif')}}');filter: brightness(100%); width: 100% !important; ">
                <!-- <div class="modal-body bg-image"> -->
                <!-- <h1>{{ item.title }}</h1>
                <h2> {{ item.text }} </h2>
                <p>A vuelta de correo, y sin ningun compromiso, le enviaremos un estudio preliminar</p> -->
                <!-- <img class="rounded" src='{{ item.img }}' class="img-fluid img-thumbnail" alt="..."> -->
                <h1>un momento por favor</h1>
                <iframe src="{{notebook}}{{item.href}}" frameborder="0"
                    style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>
            <div class="modal-footer">
                <button hidden type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalToggle22" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog  modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-primary" data-bs-target="#{{ item.id }}" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Volver</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body bg-image "
                style="background-image: url('{{url_for('static', filename='img/loading-icon-animated-gif-9.gif')}}');filter: brightness(100%); width: 100% !important; ">
                <iframe src='{{estudiotecnico}}{{ item.id }}' frameborder="0"
                    style="position:fixed; top:40px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<a class="btn hidden btn-primary" data-bs-toggle="modal" href="#{{ item.id }}" role="button">Open first modal</a>
{% endfor %}